@use "sass:math";
@use "../utilities" as *;

.box-why-choose {
  background-color: var(--color-white);

  &__inner {
    padding: 24px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);

    @include breakpoint-up(lg) {
      display: flex;
      gap: 16px;
      align-items: flex-start;
      padding: 40px;
    }
  }

  &__list,
  &__list-02 {
    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
    width: 100%;

    @include breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    > li {
      display: flex;
      gap: 16px;
      align-items: center;

      > img {
        display: block;
        flex-shrink: 0;
        width: 56px;
        height: 56px;

        @include breakpoint-up(lg) {
          width: 64px;
          height: 64px;
        }
      }
    }
  }

  &__list {
    > li {
      @include breakpoint-up(md) {
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            grid-row: ($i - 1) % 5 + 1;
            grid-column: math.floor(math.div(($i - 1), 5)) + 1;
          }
        }
      }
    }
  }

  &__info {
    @include text-body3;
    color: var(--color-grey-main);

    @include breakpoint-up(lg) {
      @include text-body2;
    }
  }

  &__footer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background-color: var(--color-blue-main);

    @include breakpoint-up(lg) {
      padding: 27px 20px;
    }

    > img {
      display: block;
      flex-shrink: 0;
      width: 40px;
      height: 40px;

      @include breakpoint-up(lg) {
        width: 46px;
        height: 46px;
      }
    }
  }

  &__footer-text {
    @include text-body3-bold;
    color: var(--color-dark);

    @include breakpoint-up(lg) {
      @include text-h5-bold;
    }
  }
}
