@use "../utilities" as *;

.card-step {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  padding: 24px;
  background-color: var(--color-white);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);

  @include breakpoint-up(lg) {
    padding: 32px;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    color: var(--color-blue-main);
    border: 2px solid var(--color-blue-main);
    border-radius: 50%;
  }

  &__title {
    @include text-h6-bold;
    color: var(--color-dark);

    @include breakpoint-up(lg) {
      @include text-h5-bold;
    }
  }

  &__text,
  &__text-md {
    @include text-body2;

    a {
      color: var(--color-blue-main);
      text-decoration: underline;

      &:hover {
        @include hover {
          text-decoration: none;
        }
      }
    }
  }

  &__text-md {
    @include breakpoint-up(lg) {
      @include text-body1;
    }
  }

  &__list {
    @include text-body2;

    li {
      position: relative;
      padding-left: 25px;

      &::before {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 4px;
        height: 4px;
        content: "";
        background-color: var(--color-grey-dark);
        border-radius: 50%;
      }

      a {
        color: var(--color-blue-main);

        &:hover {
          @include hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
