extends /src/layouts/_master

block variables
  -
    const meta = {
      title: 'About us',
    }
    const headerWhite = true;

block append scripts

block modal

block content
  section.sec-about
    .sec-about__container
      .sec-about__wrap
        h1.sec-about__heading: span เกี่ยวกับ
        .sec-about__logo
          +img(src="/src/images/common/logo-main-black.svg" alt="JIPJIP MONEY")
      .sec-about__content
        p
          strong  บริษัท เงินเรื่องจิ๊บ จำกัด (JIPJIPMONEY)
          |  ก่อตั้งขึ้นในปี 2565#[br(class="hidden lg:block")] โดยทีมผู้ก่อตั้งของเรามีความเชี่ยวชาญและประสบการณ์หลากหลาย#[br(class="hidden lg:block")]
          | ทั้งในธุรกิจสินค้าลักชัวรี่ การเงิน การลงทุน และเทคโนโลยี ทำให้บริษัทแข็งแกร่งรอบด้าน#[br(class="hidden lg:block")] เรานำความรู้และนวัตกรรมมาพัฒนาบริการ เพื่อให้ลูกค้าได้รับความพึงพอใจสูงสุด#[br(class="hidden lg:block")]
          | พร้อมก้าวขึ้นเป็นบริษัทขายฝากชั้นนำ และเป็นอันดับหนึ่งในใจของลูกค้า#[br]#[br]
          | ในปี 2568 บริษัทได้ร่วมทุนกับ
          strong  บริษัท ทีคิวเอ็ม อัลฟ่า จำกัด (มหาชน)#[br(class="hidden lg:block")]
          | เสริมความแข็งแกร่งด้านเงินทุนและความสามารถในการคุ้มครองประกันภัยทรัพย์สินของลูกค้า#[br]#[br]
          strong JIPJIPMONEY
          |  มุ่งมั่นเป็นทางเลือกที่มั่นคง ปลอดภัย และยุติธรรมสำหรับลูกค้าที่ต้องการ#[br(class="hidden lg:block")]
          | เปลี่ยนทรัพย์สินลักชัวรี่ให้กลายเป็นเงินสดได้อย่างรวดเร็วและง่ายดาย โดยเชื่อมั่นในศักยภาพ#[br(class="hidden lg:block")]
          | ของตลาดสินค้าลักชัวรี่ที่เติบโตต่อเนื่องทั้งในด้านมูลค่าและคุณค่าทางจิตใจ พร้อมตั้งเป้าหมาย#[br(class="hidden lg:block")]
          | ขยายธุรกิจสู่ตลาดหลักทรัพย์แห่งประเทศไทย และต่อยอดสู่ตลาดต่างประเทศในอนาคต
  // .sec-about

  section.sec-partner-team(class="pb-0 md:pb-[60px]")
    +img(src="/src/images/partner/img-team-pc.webp" alt class="hidden md:block")
    .sec-partner-team__sp
      .sec-partner-team__logo
        +img(src="/src/images/common/logo-main-black.svg" alt="JIPJIP MONEY")
      h2.sec-partner-team__heading: span Introducing Our Team
      .sec-partner-team__item
        +img(src="/src/images/partner/img-saowanee-phathaiwanich.webp" alt="Saowanee Phathaiwanich")
        .sec-partner-team__content
          h3.sec-partner-team__title Saowanee#[br] Phathaiwanich
          p.sec-partner-team__text Chief Executive Officer
      .sec-partner-team__item
        +img(src="/src/images/partner/img-chalermchai-mahagitsiri.webp" alt="Chalermchai Mahagitsiri")
        .sec-partner-team__content
          h3.sec-partner-team__title Chalermchai#[br] Mahagitsiri
          p.sec-partner-team__text Co-Founder
      .sec-partner-team__item
        +img(src="/src/images/partner/img-natavudh-pungcharoenpong.webp" alt="Natavudh Pungcharoenpong")
        .sec-partner-team__content
          h3.sec-partner-team__title Natavudh#[br] Pungcharoenpong
          p.sec-partner-team__text Co-Founder
      .sec-partner-team__item
        +img(src="/src/images/partner/img-napassanun-punnipa.webp" alt="Dr. Napassanun Punnipa")
        .sec-partner-team__content
          h3.sec-partner-team__title Dr. Napassanun#[br] Punnipa
          p.sec-partner-team__text Shareholder
  // .sec-partner-team

  section.sec-about-service
    .sec-about-service__container
      .sec-about-service__wrap
        h2.heading-02
          span บริการของ
          +img.sec-about-service__logo(src="/src/images/common/logo-main-black.svg" alt="JIPJIP MONEY")
        p.sec-about-service__sub JIPJIPMONEY ให้บริการทางการเงินครบวงจร ด้วยบริการหลัก 4 ประเภท ได้แก่
      .sec-about-service__top
        .sec-about-service__top-wrap
          h3.sec-about-service__title: span บริการขายฝาก#[br(class="lg:hidden")]สินค้าลักชัวรี่
          p.sec-about-service__top-text ภายใต้แบรนด์ bagforcash (ขายฝากกระเป๋า #[br(class="hidden xl:block")]แบรนด์เนม และเครื่องประดับแบรนด์) และ watchforcash (ขายฝากนาฬิกาไฮเอนด์)
        .sec-about-service__top-list
          ul
            li
              .sec-about-service__top-logo
                +img(src="/src/images/common/ico-lowinterest.svg" alt)
              .sec-about-service__top-content
                p อัตราดอกเบี้ยต่ำที่สุดในตลาด#[br(class="hidden xl:block")]
                  | เริ่มต้น 0.89% ต่อเดือน
            li
              .sec-about-service__top-logo
                +img(src="/src/images/common/ico-quickapproval.svg" alt)
              .sec-about-service__top-content
                p อนุมัติไวใน 45 นาที รับเงินโอนใน 1 ชั่วโมง
            li
              .sec-about-service__top-logo
                +img(src="/src/images/common/ico-fullcreditlimitapproved.svg" alt)
              .sec-about-service__top-content
                p อนุมัติวงเงินเต็มจำนวนไม่มีการหักดอกเบี้ย#[br(class="hidden xl:block")]
                  | ล่วงหน้าและไม่ต้องส่งเงินต้นระหว่างสัญญา
            li
              .sec-about-service__top-logo
                +img(src="/src/images/common/ico-coveragelimit.svg" alt)
              .sec-about-service__top-content
                p มีวงเงินคุ้มครองในกรณีฉุกเฉิน
          ul
            li
              .sec-about-service__top-logo
                +img(src="/src/images/common/ico-uvroom.svg" alt)
              .sec-about-service__top-content
                p มีบริการอบฆ่าเชื้อฟรี ในห้อง UV ROOM ก่อน นำเข้าห้องนิรภัย และก่อนส่งคืนให้ลูกค้าทุกชิ้น
            li
              .sec-about-service__top-logo
                +img(src="/src/images/common/ico-datadriven.svg" alt)
              .sec-about-service__top-content
                p วงเงินสูงและเป็นธรรม โดยใช้ระบบ #[br(class="hidden xl:block")]Data-Driven Valuation ในการประเมิน
            li
              .sec-about-service__top-logo
                +img(src="/src/images/common/ico-freeservice.svg" alt)
              .sec-about-service__top-content
                p มีบริการรับทรัพย์สินฟรีถึงบ้าน ไม่มีขั้นต่ำ #[br(class="hidden xl:block")](เฉพาะกรุงเทพฯ และปริมณฑล)
                p.sec-about-service__top-note ต่างจังหวัดกรุณาสอบถามเงื่อนไข
            li
              .sec-about-service__top-logo
                +img(src="/src/images/common/ico-saferoom.svg" alt)
              .sec-about-service__top-content
                p ทรัพย์สินทุกชิ้นจัดเก็บแบบ 1:1 ใน ห้องนิรภัย มาตรฐานระดับโลก
      .sec-about-service__bottom
        .sec-about-service__bottom-box
          h3.sec-about-service__title: span บริการตรวจสอบ#[br]ความแท้ของสินค้า
          ul.sec-about-service__bottom-list
            li
              .sec-about-service__bottom-logo
                +img(src="/src/images/common/logo-bagforcash-02.svg" alt)
              .sec-about-service__bottom-content
                p
                  strong.sec-about-service__bottom-bold01 บริการตรวจสอบ แท้-ปลอม กระเป๋า#[br(class="hidden xl:block")] แบรนด์เนม
                  |  ด้วยผู้เชียวชาญควบคู่กับ เทคโนโลยี Ai ที่มีความ แม่นยำสูงกว่า 99% พร้อมออกใบรับรองและทราบ#[br(class="hidden xl:block")] ผลตรวจสอบ ภายใน 1 - 24 ชั่วโมง
            li
              .sec-about-service__bottom-logo
                +img(src="/src/images/common/logo-watchforcash-02.svg" alt)
              .sec-about-service__bottom-content
                p
                  strong.sec-about-service__bottom-bold01 บริการตรวจสอบนาฬิกาไฮเอนด์#[br(class="hidden xl:block")]และจิวเวลรี่ แบรนด์
                  |  โดยผู้เชียวชาญ#[br(class="hidden xl:block")] ประสบการณ์มาก กว่า 10 ปี พร้อมออกใบ รับรอง และทราบผล ตรวจสอบภายใน#[br(class="hidden xl:block")] 1 - 24 ชั่วโมง
        .sec-about-service__bottom-box
          h3.sec-about-service__title: span บริการไถ่ถอน
          p.sec-about-service__bottom-text ในกรณีที่ลูกค้าฝากทรัพย์สินไว้กับร้านค้าหรือ#[br(class="hidden xl:block")]บริษัทอื่นที่มีดอกเบี้ยหรือค่าใช้จ่ายสูงสามารถใช้บริการไถ่ถอนทรัพย์สินได้
          ul.sec-about-service__bottom-list
            li
              .sec-about-service__bottom-logo
                +img(src="/src/images/common/ico-sign.svg" alt)
              .sec-about-service__bottom-content
                p
                  | เพียงแค่เซ็นใบมอบอำนาจและแจ้ง#[br(class="hidden xl:block")]รายละเอียดให้เราทราบ เรามีทีม#[br(class="hidden xl:block")]
                  strong.sec-about-service__bottom-bold02 ดำเนินการให้ฟรี
            li
              .sec-about-service__bottom-logo
                +img(src="/src/images/common/ico-reducecosts.svg" alt)
              .sec-about-service__bottom-content
                p ช่วยให้ลูกค้าลดค่าใช้จ่าย ลดอัตรา#[br(class="hidden xl:block")] ดอกเบี้ยให้ต่ำลง และยังมีโอกาสได้รับ#[br(class="hidden xl:block")] วงเงินที่สูงขึ้นจากเราอีกด้วย
        .sec-about-service__bottom-box
          h3.sec-about-service__title: span บริการสินเชื่อส่วนบุคคล
          ul.sec-about-service__bottom-list
            li
              .sec-about-service__bottom-logo
                +img(src="/src/images/common/ico-lowinterestrates.svg" alt)
              .sec-about-service__bottom-content
                p ดอกเบี้ยต่ำ เริ่มต้น 1.25%/ เดือน#[br(class="hidden xl:block")] (ดอกเบี้ย 15% - ดอกเบี้ยสูงสุด 25%#[br(class="hidden xl:block")] ต่อปี)
            li
              .sec-about-service__bottom-logo
                +img(src="/src/images/common/ico-installmentpayment.svg" alt)
              .sec-about-service__bottom-content
                p สามารถเลือกผ่อนชำระได้ตั้งแต่ 12 ถึง#[br(class="hidden xl:block")] 60 เดือน
            li
              .sec-about-service__bottom-logo
                +img(src="/src/images/common/ico-permission.svg" alt)
              .sec-about-service__bottom-content
                p ได้รับอนุญาตประกอบธุรกิจสินเชื่อส่วน#[br(class="hidden xl:block")] บุคคลภายใต้การกำกับของ ธนาคารแห่ง#[br(class="hidden xl:block")] ประเทศไทย
          .sec-about-service__bottom-details
            p (ใบอนุญาตเลขที่ ๒๗/๒๕๖๕)
            ul
              li เงื่อนไขเป็นไปตามที่บริษัทกำหนด
              li กู้เท่าที่จำเป็นและชำระคืนไหว
              li ควรศึกษาข้อมูลตลาดเพิ่มเติมก่อนตัดสินใจ
            p
              u คำเตือน
              |  กู้เท่าที่จำเป็น และชำระคืนไหว พิจารณาสินเชื่อ#[br(class="md:hidden")] โดยผ่านการประเมิน#[br(class="hidden lg:block")] ความสามารถ ในการชำระหนี้
  // .sec-about-service

  section.sec-partner-technology.bg-02
    .sec-partner-technology__container
      .sec-partner-technology__img
        +img(src="/src/images/partner/img-technology.webp" alt)
      .sec-partner-technology__box
        +img(src="/src/images/common/text-bagforcash-watchforcash.svg" alt="bagforcash watchforcash")
        .sec-partner-technology__heading
          h2.heading-02: span Technology-Driven Operation
          ul.sec-partner-technology__list
            li.sec-partner-technology__item
              .sec-partner-technology__icon
                +img(src="/src/images/common/ico-ai.svg" alt)
              .sec-partner-technology__content
                h3.sec-partner-technology__title ระบบตรวจสอบทรัพย์สินด้วยเทคโนโลยี AI
                p.sec-partner-technology__text บริษัทผสานความเชี่ยวชาญของผู้เชี่ยวชาญเฉพาะทางเข้ากับเทคโนโลยี AI เพื่อการตรวจสอบความแท้#[br(class="hidden lg:block")]ของทรัพย์สินได้อย่างแม่นยำในระดับมากกว่า 99% ระบบถูกออกแบบให้ดำเนินการ ได้อย่างรวดเร็ว#[br(class="hidden lg:block")] และมีประสิทธิภาพ รองรับการให้บริการที่รวดเร็วเพื่อตอบสนองความต้องการของลูกค้าได้ดีที่สุด
            li.sec-partner-technology__item
              .sec-partner-technology__icon
                +img(src="/src/images/common/ico-graph.svg" alt)
              .sec-partner-technology__content
                h3.sec-partner-technology__title ระบบประเมินมูลค่าทรัพย์สินที่แม่นยำและได้มาตรฐาน
                p.sec-partner-technology__text การประเมินวงเงินอ้างอิงจากฐานข้อมูลราคากลางในตลาดโลกที่พัฒนาโดยบริษัท โดยนำเทคโนโลยี AI เข้ามา ช่วยวิเคราะห์ร่วม ส่งผลให้ผลการประเมินวงเงินมีความถูกต้อง โปร่งใส และเป็นธรรมต่อผู้ใช้บริการ
            li.sec-partner-technology__item
              .sec-partner-technology__icon
                +img(src="/src/images/common/ico-alert.svg" alt)
              .sec-partner-technology__content
                h3.sec-partner-technology__title ระบบแจ้งเตือนและจัดการธุรกรรมด้วย Automation
                p.sec-partner-technology__text บริษัทใช้ระบบ Automation แบบครบวงจรในการแจ้งเตือนการชำระเงินและการต่อสัญญา ผ่านช่องทางต่าง ๆ ผ่าน LINE, SMS และอีเมล ระบบนี้ช่วยเพิ่มความสะดวกให้กับลูกค้าในการติดตามสถานะ ลดความเสี่ยงในการ ผิดนัดและสนับสนุนการวางแผนทางการเงินของลูกค้าได้อย่างมีประสิทธิภาพ
            li.sec-partner-technology__item
              .sec-partner-technology__icon
                +img(src="/src/images/common/ico-crm.svg" alt)
              .sec-partner-technology__content
                h3.sec-partner-technology__title การจัดการข้อมูลลูกค้าด้วยระบบ CRM / CDP
                p.sec-partner-technology__text บริษัทนำระบบบริหารความสัมพันธ์ลูกค้า (CRM) และระบบจัดการข้อมูลลูกค้า (CDP) มาใช้เพื่อวิเคราะห์ข้อมูล เชิงลึก เพื่อเข้าใจความต้องการเฉพาะของลูกค้า และเพื่อพัฒนาการให้บริการที่มีประสิทธิภาพ พร้อมเสริมสร้าง ความสัมพันธ์ระยะยาว
            li.sec-partner-technology__item
              .sec-partner-technology__icon
                +img(src="/src/images/common/ico-data.svg" alt)
              .sec-partner-technology__content
                h3.sec-partner-technology__title การจัดเก็บและบริหารฐานข้อมูลทรัพย์สินอย่างเป็นระบบ
                p.sec-partner-technology__text บริษัทมีการจัดเก็บข้อมูลประวัติของทรัพย์สินแต่ละชิ้นที่นำมาฝากไว้อย่างละเอียด เพื่อให้ลูกค้ามั่นใจว่าทรัพย์สิน อยู่ภายใต้การดูแลที่มีมาตรฐาน และสามารถตรวจสอบย้อนหลังได้ หากเกิดข้อสงสัยหรือปัญหาใด ๆ#[br(class="hidden lg:block")] ลูกค้าจะมีข้อมูลอ้างอิงที่ชัดเจน ครอบคลุมทั้งสองฝ่าย
  // .sec-partner-technology

  section.sec-about-vision
    .sec-about-vision__container
      .sec-about-vision__wrap
        .sec-about-vision__item01
          .sec-about-vision__details
            p.sec-about-vision__subheading VISION (วิสัยทัศน์)
            p.sec-about-vision__text: span เรามุ่งมั่นเป็นผู้นำด้านบริการ#[br(class="hidden xl:block")]
              | ขายฝากสินค้าลักชัวรี่ โดยยึดหลัก
              | บริหารอย่างโปร่งใส เป็นธรรม
              | และให้บริการด้วยมาตรฐานสูง
              | เน้นความรวดเร็ว ทันสมัย#[br(class="hidden xl:block")]
              | ครองความนิยมอันดับหนึ่งใน
              | ประเทศไทย พร้อมขยายสู่ระดับ
              | สากลในอนาคต
          figure.sec-about-vision__image
            +img(src="/src/images/about-us/img-vision.webp" alt)
        .sec-about-vision__item02
          figure.sec-about-vision__image
            +img(src="/src/images/about-us/img-fairness.webp" alt)
          .sec-about-vision__details
            p.sec-about-vision__subheading CORE VALUE (ค่านิยมองค์กร)
            h2.sec-about-vision__heading: span Fairness &amp; Protection
            p.sec-about-vision__text: span ให้ความสำคัญกับความยุติธรรมของลูกค้า#[br(class="hidden xl:block")] ปกป้องลูกค้าจากการถูกเอาเปรียบหรือ#[br(class="hidden xl:block")]
              | ถูกคิดอัตราดอกเบี้ยเกินกว่าที่กฎหมายกำหนด พร้อมนำเสนอข้อเสนอที่ดีที่สุดอย่างโปร่งใส#[br(class="hidden xl:block")] และเป็นธรรมเสมอ

    .sec-about-mission
      .sec-about-mission__container
        h2.sec-about-mission__heading MISSION (พันธกิจ)
        .sec-about-mission__box
          ul.sec-about-mission__list
            li ส่งมอบบริการทางการเงินที่รวดเร็ว โปร่งใส และเป็นธรรม
            li พัฒนาโซลูชันทางการเงินที่ทันสมัย โดยใช้เทคโนโลยีและข้อมูล (Data-Driven) เพื่อเพิ่มความแม่นยำและความน่าเชื่อถือ
            li พัฒนาระบบราคากลางของสินค้าลักชัวรี่ เพื่อใช้เป็นมาตรฐานราคาเปรียบเทียบที่ยุติธรรม และช่วยยกระดับตลาดสินค้าลักชัวรี่ในประเทศไทย พร้อมเป็นผู้พัฒนารายแรกที่ทำสำเร็จ
            li มุ่งมั่นในการนำเสนอข้อเสนอและทางเลือกทางการเงินที่ดีที่สุดให้แก่ลูกค้าที่มีทรัพย์สินประเภทสินค้าลักชัวรี่ เพื่อป้องกันการถูกเอาเปรียบจากร้านค้าหรือผู้ให้บริการที่เรียกเก็บดอกเบี้ยเกินอัตราที่กฎหมายกำหนด รวมถึงการถูกกดราคาหรือได้รับวงเงินที่ไม่เป็นธรรม เพื่อให้ลูกค้าได้รับผลประโยชน์และความคุ้มค่าสูงสุดจากการใช้บริการ
            li สร้างความมั่นใจให้กับลูกค้าด้วยการดูแลทรัพย์สินภายใต้มาตรฐานความปลอดภัยระดับโลก และความคุ้มครองจากบริษัทประกันภัยพันธมิตร
            li ผลักดันธุรกิจสู่การเป็นบริษัทจดทะเบียนในตลาดหลักทรัพย์แห่งประเทศไทย และขยายธุรกิจสู่ตลาดต่างประเทศ
            li ดำเนินธุรกิจอย่างยั่งยืน รับผิดชอบต่อสังคม และสร้างคุณค่าให้แก่ผู้มีส่วนร่วม
    // .sec-about-mission
    .sec-about-slogan
      .sec-about-slogan__container
        h2.sec-about-slogan__heading สโลแกนของเรา
        p.sec-about-slogan__box “ฝากไว้กับเรา#[br(class="xl:hidden")] สบายใจตั้งแต่เริ่มจนจบ”

    // .sec-about-slogan
  // .sec-about-vision
