footer.footer
  nav.footer__container
    a.footer__logo(href="/")
      +img(src="/src/images/common/logo-main.svg", alt="JibJib Money")
    .footer__address
      p.footer__address-title บริษัท เงินเรื่องจิ๊บ จำกัด
      p 58/101 หมู่ 3 ถนน แจ้งวัฒนะ-ปากเกร็ด 33 คลองเกลือ ปากเกร็ด นนทบุรี 11120
    ul.footer__contact
      li
        a(href="tel:0888000000")
          +img(src="/src/images/common/ico-phone.svg" alt="")
          span 088-800-0000
      li
        a(href="mailto:official@jipjipmoney.com")
          +img(src="/src/images/common/ico-email.svg" alt="")
          span official@jipjipmoney.com
      li
        a(href="https://line.me/R/ti/p/%40jipjipmoney" target="_blank")
          +img(src="/src/images/common/ico-line-sm.svg" alt="")
          span @jipjipmoney
    ul.footer__sns
      li
        a(href="https://www.facebook.com/profile.php?id=61550832268748&mibextid=LQQJ4d" target="_blank" aria-label="Facebook")
          span(style="--image: url('/src/images/common/ico-facebook-white.svg')")
      li
        a(href="https://line.me/R/ti/p/%40jipjipmoney" target="_blank" aria-label="Line")
          span(style="--image: url('/src/images/common/ico-line-white.svg')")
      li
        a(href="https://instagram.com/jipjipmoney?igshid=MzRlODBiNWFlZA==" target="_blank" aria-label="Instagram")
          span(style="--image: url('/src/images/common/ico-instagram-white.svg'); --size: 22;")
      li
        a(href="https://www.tiktok.com/@jipjipmoney" target="_blank" aria-label="TikTok")
          span(style="--image: url('/src/images/common/ico-tiktok-white.svg'); --size: 21;")
      li
        a(href="" target="_blank" aria-label="YouTube")
          span(style="--image: url('/src/images/common/ico-youtube-white.svg'); --size: 24;")
    ul.footer__nav
      li: a(href="/about-us/"): span เกี่ยวกับเรา
      li: a(href="/privacy-policy/"): span นโยบายความเป็นส่วนตัว
      li: a(href="/articles/"): span บทความ
      li: a(href="/contact-us/"): span ติดต่อเรา
